CLIENT_URL=
CLOUDINARY_API_KEY=4
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
DATABASE_URL=
GOOGLE_CALLBACK_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
JUDGE0_API_KEY=
JUDGE0_API_URL=
JWT_SECRET=
PORT=3000
